
/* SECTION CONTACT */

.contact {
  padding: 80px 100px 100px;
  display: flex;
  justify-content: center;
}

.contact__column {
  width: 50%;
}

.contact__title {
  font-size: 3.0625rem;
  line-height: 3.6875rem;
}

.contact__instruction {
  margin: 22px 0 42px;
  font-size: 1rem;
  line-height: 1.375rem;
}

.contact__details {
  display: flex;
  justify-content: flex-start;
  color: $color-grey;
  align-items: center;
}

.details__item {
  color: $color-grey;
  font-weight: 500;
  text-decoration: none;
}

.details__item:first-of-type {
  margin-right: 20px;
}

.details__item img {
  margin-right: 10px;
}

@media (max-width: 360px) {
  .contact {
    padding: 10px 28px 30px;
    flex-direction: column;
  }
  .contact__column {
    width: 100%;
  }

  .contact__instruction {
    width: 100%;
  }
  .contact__details {
    flex-direction: column;

  }
  .content__text {
    width: 277px;
  }

  .details__item {
    width: 100%;
    margin: 10px 0 53px 0;
    &:first-of-type {
      margin: 10px 0;
    }
  }

}