/* FOOTER */

.footer {
  box-shadow: 0 -5px 40px #00000029;
  padding: 20px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__copy {
  font-size: 0.6875rem;
  line-height: 1.5rem;
  color: $color-grey;
  margin-top: 6px;
}

.footer__icons a:first-of-type {
  margin-right: 25px;
}

