/*  Opening section with benner */
.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.opening__content {
  margin-top: 130px;
  text-align: center;
}

.opening__header {
  font-family: $font-raleway;
  font-size: 3.0625rem;
}

.opening__heading {
  margin-top: 20px;
  margin-bottom: 38px;
}

.opening__image {
  width: 100%;
  height: auto;
}

@media (max-width: 780px) {
  .opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .opening__content {
    margin-top: 130px;
    text-align: center;
  }

  .opening__header {
    font-family: $font-raleway;
    font-size: 3.0625rem;
  }

  .opening__heading {
    margin-top: 20px;
    margin-bottom: 38px;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1.25rem;
  }

  .opening__image {
    width: 100%;
    height: auto;
  }
}

//mobile 360x780
@media (max-width: 360px){
  .opening__heading{
    padding: 0 30px;
  }
  .opening__image {
    width: 210%;
    position: relative;
    bottom: -27px;
    left: -200px;
  }
}